.vscode

grafana/grafana_data/*
grafana/provisioning/*
!grafana/grafana_data/readme.md
!grafana/provisioning/readme.md

uploads/*

!uploads/uploads_b
!uploads/uploads_c

uploads/uploads_b/*
uploads/uploads_c/*

!uploads/uploads_b/readme.md
!uploads/uploads_c/readme.md



